.footer {
  width: 100%;
  /* min-height: 100vh; */
  background: url("../assets/footerherodesk.svg");
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
}
.footer-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-left {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.footer-desc-exact {
  text-align: right;
  font-size: 0.8rem;
  font-weight: 300;
}
.footer-divide {
  width: 90%;
  height: 1px;
  border-radius: 50%;
  background-color: #474848;
}

.footer-links {
  display: flex;
  width: 90%;
  /* border: 1px solid #fff; */
  justify-content: space-between;
  /* align-items: center;x1x1 */
  /* flex: 1; */
  /* justify-content: flex-start; */
  /* gap: 3.5rem; */
}

.footer-col {
  min-width: 120px;
  max-width: 200px;
  margin-bottom: 1.5rem;
}

.footer-col h4,
.newsletter h4 {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.newsletter {
  display: flex;
  flex-direction: column;
  width: 19rem;

  /* gap: 0.5rem; */
  /* background-color: red; */
}
.newsletter-desc {
  font-size: 0.9rem;
  font-weight: 200;
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 1.2rem 0;
  text-align: center;
}
.newsletter-form input {
  padding: 0.7rem 0;
  background-color: #222223;
  width: 100%;
  border: none;
  border-radius: 6px;
  text-align: center;
}
.newsletter-form button {
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.7rem 0;
  width: 100%;
  margin-top: 0.5rem;
}
.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col li {
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 200;
  opacity: 0.85;
  cursor: pointer;
  transition: color 0.2s;
}
/* #3f3e40 */
.footer-social {
  display: flex;
  /* justify-content: center; */
  gap: 0.2rem;
  /* border: 1px solid red; */
}
.footer-social a {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #3f3e40;
  color: #feffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border-left: 0.1px solid #feffff;
  border-right: 0.1px solid #feffff;
}
.footer-bottom {
  width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 2rem 0;
  /* border: 1px solid red; */
}
.footer-highlight {
  color: #b7a221;
}
.footer-copyright {
  font-size: 10px;
}
.Footer-Logo {
  width: 10rem;
}
@media (max-width: 768px) {
  .footer{
    background: url("../assets/footerheromob.svg");
    background-size: cover;
  }
  .footer-left {
    flex-direction: column;
    width: 85%;
  }
  .footer-desc-exact {
    text-align: left;
    margin-top: 0.5rem;
  }
  .footer-divide {
    width: 85%;
  }
  .footer-links {
    flex-direction: column;
    gap: 1.5rem;
    width: 85%;
  }
  .newsletter {
    width: 100%;
  }
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 0;
  }
}
