.team-section {
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(90deg, #181818 60%, #153622 100%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.team-title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 0.2rem;
  color: #fff;
}

.team-company {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #1db954;
  margin-bottom: 0.7rem;
  letter-spacing: 1px;
}

.team-desc {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 2.5rem auto;
  font-size: 1rem;
  color: #d6e6d6;
  line-height: 1.5;
  font-weight: 300;
}

.team-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.team-card {
  background: #232323;
  width: 13rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.team-img {
  width: 90px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.2rem;
  border: 3px solid #fff;
}

.team-name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  text-align: center;
  letter-spacing: 1px;
}

.team-role {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 1px;
}

.team-bio {
  width: 75%;
  font-size: 0.65rem;
  color: #d6e6d6;
  text-align: center;
  height: 4rem;
  /* border: 1px solid red; */
  font-weight: 200;
  border-top: 1px solid #fff;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .team-section {
    padding: 1.2rem 0 1rem 0;
  }
  .team-title {
    font-size: 1rem;
  }
  .team-company {
    font-size: 1.2rem;
  }
  .team-desc {
    font-size: 0.97rem;
    margin-bottom: 1.2rem;
    padding: 0 0.5rem;
  }
  .team-card {
    width: 85%;
    padding: 1rem 0.5rem;
  }
}
